.Cell {
  background: #9B9B9B;
  border-top: 5px solid #ffffff;
  border-left: 5px solid #ffffff;
  border-right: 5px solid #787878;
  border-bottom: 5px solid #787878;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  outline: none;
  box-sizing: border-box;
  cursor: default;
  user-select: none;

  &:not(.is-revealed):focus {
    background-color: lighten($color: #9B9B9B, $amount: 10);
  }

  &.is-revealed {
    border: 1px solid #f0f0f0;
  }
}