@import 'reset';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .Game {
    display: flex;
    flex-direction: column;
    height: 100vh;

    & > .container-game {
      flex: 1;
      display: flex;
      align-items: center;
    }
  }
}

.container-game-wrapper {
  margin-left: auto;
  margin-right: auto;

  & > .Board {
    width: 500px;
    height: 500px;
  }

  & > .Controls {
    width: 100%;
    margin-bottom: 1em;;
  }
}

.Board {
  display: grid;
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-template-columns: repeat(var(--columns), 1fr);
}

.Controls {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    margin-left: auto;
  }
}

.Menu {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;

  & > button, & > div {
    height: 100px;
    width: 100%;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    font-size: 2.2em;
    background-color: #1E1E1E;
    color: #ffffff;

    &[type="button"] {
      border: 1px solid #f0f0f0;
      font-size: 2em;
      color: #F1F1F1;

      &:active {
        background-color: lighten($color: #1E1E1E, $amount: 10);
      }
    }
  }
}
