@import 'reset';
@import 'board';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .App {
    display: flex;
    flex-direction: column;
    height: 100vh;

    & > .container-game {
      flex: 1;
      display: flex;
      align-items: center;
    }
  }
}