.Died {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;

  .Died-text {
    transform: scale(0);
    transition: transform 10s;
  }

  &.show {
    z-index: 999;
    opacity: 1;

    .Died-text {
      transform: scale(10);
    }
  }
}