.Died {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;

  & + .miniplayer-died {
    position: absolute;
    bottom: 20px;
    right: 20px;

    video {
      width: 400px;
    }

    p {
      text-align: center;
      padding-bottom: 10px;
      font-weight: 800;
    }
  }

  .Died-text {
    transform: scale(0);
  }

  button {
    position: absolute;
    bottom: 30%;
    padding: 10px 30px;
    background-color: #444444;
    border: 2px solid #f0f0f0;
    color: #f0f0f0;
    outline: none;
    border-radius: 2px;
    &:active {
      background-color: lighten($color: #444444, $amount: 30);
    }

    &.see-result-button {
      bottom: auto;
      top: 30px;
      right: 30px;
    }
  }

  &.show {
    z-index: 999;
    opacity: 1;

    .Died-text {
      transition: transform 10s;
      transform: scale(10);
    }
  }
}